# Could just force-add these files and leave this as '*', but this way I have a
# nice explicit list for documentation's sake.

# Ignore everything by default.
*

#include nvim dir 
!nvim

#include nx config 
!nx

!.gitignore
